@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
navi-pane {
  width: 100%;
}

@include media-breakpoint-up(md) {
  navi-pane {
    float: left;
    width: 33%;
    height: 100%;
  }
  .content-pane {
    float: right;
    width: 67%;
  }
}
@include media-breakpoint-up(lg) {
  navi-pane {
    width: 26%;
  }
  .content-pane {
    width: 74%;
  }
}
@include media-breakpoint-up(xl) {
  navi-pane {
    width: 21%;
  }
  .content-pane {
    width: 79%;
  }
}