<h3 class="my-3 text-center">My Tickets</h3>
<div id="tickets" class="row justify-content-around">
  <div *ngFor="let myTicket of myTickets" (click)="gotoDetail(myTicket)" class="col-5 ticket my-1">
    <h4>{{ myTicket.description }}</h4>
  </div>
</div>
<h3 class="my-3 text-center">My Feed</h3>
<div id="tickets" class="row justify-content-around">
  <div *ngFor="let feedTicket of feedTickets" (click)="gotoDetail(feedTicket)" class="col-5 ticket my-1">
    <h4>{{ feedTicket.description }}</h4>
  </div>
</div>
