<div class="row tickets">
  <h3>My Tickets</h3>
  <div *ngIf="!hasTickets">You have no active tickets right now.</div>
  <div *ngFor="let myTicket of myTickets | async" class="col-5 card ticket">
    <div class="card-body">
      <h5 class="card-title">{{ myTicket.name || myTicket.id }}</h5>
      <p class="card-text">{{ myTicket.description | preview }}</p>
      <a routerLink="{{ '/tickets/detail/' + myTicket.id }}" class="btn btn-primary">View</a>
    </div>
  </div>
</div>
<div class="row tickets">
  <h3>My Feed</h3>
  <div *ngIf="!hasFeed">Subscribe to more ticket categories in My Settings.</div>
  <div *ngFor="let feedTicket of feedTickets | async" class="col-5 card ticket">
    <div class="card-body">
      <h5 class="card-title">{{ feedTicket.name || feedTicket.id }}</h5>
      <p class="card-text">{{ feedTicket.description | preview }}</p>
      <a routerLink="{{ '/tickets/detail/' + feedTicket.id }}" class="btn btn-primary">View</a>
    </div>
  </div>
</div>
