.ticket {
  padding: 20px;
  text-align: center;
  color: #eee;
  background-color: #607D8B;
  border-radius: 2px;
}

.ticket:hover {
    background-color: #EEE;
    cursor: pointer;
    color: #607d8b;
}
