:host {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#login-card {
  transition: 0.15s ease-in;
}

.login-success {
  transform: translateY(-30em);
}
