h1 {
  text-align: center;
  font-size: 1.3rem;
  color: white;
  margin-bottom: 0;
}
h2 {
  font-size: 2em;
  margin-top: 0;
  padding-top: 0;
}
nav a:hover {
  color: #CFD8DC;
}
nav a.active {
  color: rgb(80, 81, 83);
}
