<div id="ticket-create" class="col-lg-8">
  <h1 class="h1">Submit a New Ticket</h1>
  <app-ticket-form [ticket$]="ticket$"></app-ticket-form>
</div>

<!-- Success Modal -->
<div id="summary-modal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Your ticket has been submitted successfully.</h4>
      </div>
      <div class="modal-body">
        <div *ngIf="ticket">
          Your ticket Id # is: {{ ticket.id }}<br /><br />
          Ticket Summary:<br />
          Ticket ID: {{ ticket.id }}<br />
          Ticket description:<br />
          {{ ticket.description }}
        </div>
      </div>
      <div class="modal-footer" style="text-align: center">
        <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>
