<div id="ticketsList">
  <h1 class="h1">Help Desk Tickets</h1>
  <ul class="tickets list-group">
    <li *ngFor="let ticket of tickets$ | async"
        class="list-group-item ticket"
        (click)="onSelect(ticket)"
        [class.selected]="ticket === selectedTicket"
    >
      <span [hidden]="selectedTicket === ticket">
        <div class="badge">
          {{ ticket.id }}
        </div>
        {{ ticket.description | preview }}
      </span>
      <div id="selected-ticket" *ngIf="selectedTicket === ticket">
        <span><strong>Status: </strong>{{ ticket.status?.name }}</span><br />
        <span><strong>Tagged Categories: </strong></span><br />
        <div class="tagged-category" *ngFor="let tag of ticket.tags">
          {{ tag.category.name }}
        </div>
        <span><strong>Assigned Users: </strong></span><br />
        <div class="assigned-user" *ngFor="let assignment of ticket.assignments">
          {{ assignment.user.getDisplayName() }}
        </div>
        <span><strong>Description: </strong>{{ ticket.description }}</span>
        <div class="btn-group-sm pull-right">
          <button class="btn btn-primary" (click)="onDetail()">
            View
          </button>&nbsp;
          <button class="btn btn-danger"
                  (click)="onDelete(ticket); $event.stopPropagation()">
            Delete
          </button>
        </div>
        <div class="clearfix"></div>
      </div>
    </li>
  </ul>
</div>
