<div id="ticketsList" class="col-lg-8">
  <h1 class="h1">Help Desk Tickets</h1>
  <ul class="tickets list-group">
    <li *ngFor="let ticket of tickets"
        class="list-group-item"
        (click)="onSelect(ticket)"
        [class.selected]="ticket === selectedTicket"
    >
      <span [hidden]="selectedTicket === ticket">
        <div class="badge">
          {{ ticket.id }}
        </div>
        {{ ticket.description | preview }}
      </span>
      <div *ngIf="selectedTicket === ticket">
        <span><strong>Status: </strong>{{ ticket.status?.name }}</span><br />
        <div class="assigned">
          <span><strong>Tagged Categories: </strong></span><br />
          <div *ngFor="let category of ticket.taggedCategories">
            {{ category.name }}
          </div>
        </div>
        <div class="assigned">
          <span><strong>Assigned Users: </strong></span><br />
          <div *ngFor="let user of ticket.assignedUsers">
            {{ user.username }}
          </div>
        </div>
        <span><strong>Description: </strong>{{ ticket.description }}</span>
        <div class="btn-group-sm pull-right">
          <button class="btn btn-default"
                  (click)="onAssign()"
          >
            Assign To
          </button>
          <button class="btn btn-default"
                  (click)="onEdit()"
          >
            Edit
          </button>
          <button class="btn btn-danger"
                  (click)="onDelete(ticket); $event.stopPropagation()">
            Delete
          </button>
        </div>
        <div class="clearfix"></div>
      </div>
    </li>
  </ul>
</div>
