<form class="items-form" [formGroup]="itemForm" (ngSubmit)="onItemSubmit()">
  <div *ngFor="let itemField of tableFormInfo.formFields" [ngSwitch]="itemField.type">
    <mat-form-field *ngSwitchCase="'input'" appearance="outline">
      <mat-label>{{ itemField.label }}</mat-label>
      <input matInput [formControlName]="itemField.name" [placeholder]="itemField.placeholder">
    </mat-form-field>
    <mat-checkbox *ngSwitchCase="'checkbox'" [formControlName]="itemField.name">{{ itemField.label }}</mat-checkbox>
    <mat-form-field *ngSwitchCase="'select'">
      <mat-label>{{ itemField.label }}</mat-label>
      <select matNativeControl [formControlName]="itemField.name" [multiple]="itemField.multiple">
        <option *ngFor="let option of itemField.options" [value]="option.value">{{ option.label }}</option>
      </select>
    </mat-form-field>
    <input [formControlName]="itemField.name" type="hidden" />
  </div>
  <div class="inline-group">
    <button *ngIf="tableFormInfo.linkPrefix" class="btn btn-secondary" type="button" (click)="onBack()">Back</button>
    <button class="btn btn-primary" type="submit" [disabled]="itemForm.pristine">{{ selectedItem?.id ? "Update" : "Add" }}</button>
    <button class="btn btn-danger" type="button" [hidden]="!selectedItem?.id" (click)="onItemDelete(); $event.stopPropagation()">Delete</button>
  </div>
</form>
<table class="items-table table table-hover">
  <thead>
    <tr>
      <th scope="col" *ngFor="let itemField of getNonHiddenFormFields()">{{ itemField.label }}</th>
    </tr>
  </thead>
  <tbody>
    <tr
      *ngFor="let item of items"
    >
      <td scope="row" *ngFor="let itemField of getNonHiddenFormFields()">
        <span *ngIf="!itemField.multiple">
          <a
            *ngIf="tableFormInfo.linkColumnName === itemField.name; else nonLinkColumn"
            [routerLink]="tableFormInfo.linkPrefix ? tableFormInfo.linkPrefix + item.id : undefined"
            routerLinkActive="active"
            (click)="tableFormInfo.linkPrefix ? undefined : onRowSelect(item.id)"
          >
            {{ getItemDisplayValue(item, itemField) }}
          </a>
          <ng-template #nonLinkColumn>
            {{ getItemDisplayValue(item, itemField) }}
          </ng-template>
        </span>
        <span *ngIf="itemField.multiple">
          <ng-template #defaultMultiColBody>
            <div class="default-multi-col-body">
              <mat-checkbox *ngFor="let option of itemField.options" [checked]="item[option.value]" disabled>{{ option.label }}</mat-checkbox>
            </div>
          </ng-template>
          <ng-container
            *ngTemplateOutlet="multiColBodyTempl ? multiColBodyTempl : defaultMultiColBody; context: { $implicit: item }"
          ></ng-container>
        </span>
      </td>
    </tr>
  </tbody>
</table>
