.items-form {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-bottom: 2rem;

  .mat-form-field {
    width: 100%;
  }

  .inline-group {
    align-self: flex-end;

    .btn {
      margin-left: 0.5rem;
    }
  }
}

.items-table {

}

.default-multi-col-body {
  display: flex;
  justify-content: space-between;
}
