<h1 class="h1">Assigned Users</h1>
<div class="row form-group align-items-center">
  <div class="col form-group">
    <form id="removeAssignmentsForm" [formGroup]="removeAssignmentsForm" (ngSubmit)="onRemoveAssignments()">
      <label for="assignedUsersSelector">Currently assigned users:</label>
      <select
        formControlName="assignedUsersSelector"
        id="assignedUsersSelector"
        name="assignedUsersSelector"
        class="form-control"
        multiple
      >
        <option
          *ngFor="let assignment of ticket?.assignments"
          [value]="assignment.user?.id"
        >
          {{ assignment.user?.firstName + " " + assignment.user?.lastName }}
        </option>
      </select>
    </form>
  </div>
  <div class="col-1 px-0 text-center">
    <button
      form="addAssignmentsForm"
      type="submit"
      [disabled]="!addAssignmentsForm.dirty"
    >
      &lt;-</button
    ><br />
    <button
      form="removeAssignmentsForm"
      type="submit"
      [disabled]="!removeAssignmentsForm.dirty"
    >
      -&gt;
    </button>
  </div>
  <div class="col form-group">
    <form id="addAssignmentsForm" [formGroup]="addAssignmentsForm" (ngSubmit)="onAddAssignments()">
      <mat-form-field class="ticket-categories">
        <mat-label>Choose a user to assign:</mat-label>
        <mat-select formControlName="availableUsersSelector" multiple>
          <mat-option *ngFor="let user of availableUsers" [value]="user.id">{{
            user.firstName + " " + user.lastName
          }}</mat-option>
        </mat-select>
      </mat-form-field>
    </form>
  </div>
</div>
