<div id="user-create" class="col-lg-8">
  <h1 class="h1">Add a New User</h1>
  <form [formGroup]="userCreateForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="uUsername">Username:</label>
      <input
        id="uUsername"
        formControlName="username"
        name="uUsername"
        class="form-control"
      />
      <label for="uEmail">Email:</label>
      <input
        id="uEmail"
        formControlName="email"
        name="uEmail"
        class="form-control"
      />
      <label for="uFirstName">First Name:</label>
      <input
        id="uFirstName"
        formControlName="firstName"
        name="uFirstName"
        class="form-control"
      />
      <label for="uLastName">Last Name:</label>
      <input
        id="uLastName"
        formControlName="lastName"
        name="uLastName"
        class="form-control"
      />
      <label for="uPassword">Password:</label>
      <input
        id="uPassword"
        formControlName="password"
        name="uPassword"
        class="form-control"
      />
      <button
        type="submit"
        [disabled]="!userCreateForm.valid"
        class="form-control"
      >
        Submit New User
      </button>
      <div [hidden]="userCreateForm.valid" class="alert alert-danger fade in out">
        Username, First Name, Last Name, and Password fields required
      </div>
    </div>
  </form>
</div>
