<div id="userUpdate" class="col-lg-8">
    <h1 class="h1">User Details</h1>
    <form [formGroup]="userUpdateForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <div>
                <label for="username">Username:</label>
                <input id="username"
                       class="form-control"
                       formControlName="username"
                />
                <label for="email">Email:</label>
                <input id="email"
                       class="form-control"
                       formControlName="email"
                />
                <label for="first-name">First Name:</label>
                <input id="first-name"
                       class="form-control"
                       formControlName="firstName"
                >
                <label for="last-name">Last Name:</label>
                <input id="last-name"
                       class="form-control"
                       formControlName="lastName"
                >
                <label for="password">Password:</label>
                <input id="password"
                       class="form-control"
                       formControlName="password"
                />
                <button type="button" (click)="goBack()">Back</button>
                <button type="submit"
                        [disabled]="!userUpdateForm.valid || userUpdateForm.pristine"
                >
                    Update Ticket
                </button>
                <div [hidden]="userUpdateForm.valid" class="alert alert-danger fade in out">
                    Category and Details fields required
                </div>
            </div>
        </div>
    </form>
</div>
