<h3>Permissions Grants:</h3>
<section>
  <form class="form-inline" [formGroup]="permissionForm" (ngSubmit)="onPermissionSubmit()">
    <mat-form-field>
      <mat-label>Resource:</mat-label>
      <mat-select formControlName="resourceName">
        <mat-option value="users">Users</mat-option>
        <mat-option value="roles">Roles</mat-option>
        <mat-option value="tickets">Tickets</mat-option>
        <mat-option value="ticketStatuses">Statuses</mat-option>
        <mat-option value="ticketCategories">Categories</mat-option>
      </mat-select>
    </mat-form-field>
    &nbsp;
    <mat-form-field>
      <mat-label>Scope:</mat-label>
      <mat-select formControlName="creatorOnly">
        <mat-option [value]="true">Created Only</mat-option>
        <mat-option [value]="false">Any</mat-option>
      </mat-select>
    </mat-form-field>
    &nbsp;
    <mat-form-field>
      <mat-label>Permitted Operations:</mat-label>
      <mat-select formControlName="operationIds" multiple>
        <mat-option value="canCreate">Create</mat-option>
        <mat-option value="canRead">Read</mat-option>
        <mat-option value="canUpdate">Edit</mat-option>
        <mat-option value="canDelete">Delete</mat-option>
      </mat-select>
    </mat-form-field>
    &nbsp;
    <div class="form-group">
        &nbsp;<button class="btn btn-primary btn-sm" type="submit" [disabled]="!permissionForm.valid || permissionForm.pristine">{{ selectedPermission?.id ? "Update" : "Add" }}</button>
        &nbsp;<button class="btn btn-danger btn-sm" type="button" [hidden]="!selectedPermission?.id" (click)="onPermissionDelete(); $event.stopPropagation()">Delete</button>
    </div>
  </form>
</section>
<hr>
<section>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Resource</th>
        <th scope="col">Scope</th>
        <th scope="col">Can Create</th>
        <th scope="col">Can Read</th>
        <th scope="col">Can Update</th>
        <th scope="col">Can Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let permission of role?.permissions">
        <td scope="row">{{ permission.resourceName }}</td>
        <td>{{ permission.creatorOnly ? 'Creator Only' : 'All' }}</td>
        <td><span *ngIf="permission.canCreate">&#10003;</span></td>
        <td><span *ngIf="permission.canRead">&#10003;</span></td>
        <td><span *ngIf="permission.canUpdate">&#10003;</span></td>
        <td><span *ngIf="permission.canDelete">&#10003;</span></td>
      </tr>
    </tbody>
  </table>
</section>
