<h3>Permission Grants:</h3>
<section>
  <ng-template #customMultiColBody let-item>
    <div class="custom-multi-col-body">
      <mat-checkbox [checked]="item.canCreate" disabled>Create</mat-checkbox>
      <mat-checkbox [checked]="item.canRead" disabled>Read</mat-checkbox>
      <mat-checkbox [checked]="item.canUpdate" disabled>Update</mat-checkbox>
      <mat-checkbox [checked]="item.canDelete" disabled>Delete</mat-checkbox>
    </div>
  </ng-template>
  <app-table-form
    *ngIf="role"
    [multiColBodyTempl]="customMultiColBody"
    [tableFormInfo]="tableFormInfo"
    [items]="role.permissions"
  ></app-table-form>
</section>
